.contactPage{
    background: url(../../assets/image/homepage-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    margin: 0px;
}
.contactFormCont{
  position: relative;
  width: 420px;
  height: 450px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: height 0.2s ease;
  top: 100px;
  padding-bottom: 30px;
}
.contactForm{
    margin-top: 20px;
    overflow: hidden;
}
.contactFormTxt{
    color: #fff;
}
form {
  margin-top: 20px;
  }
  
  .formRow {
    margin: 10px 0 20px 0;
  }
  
  .formInput {
    padding: 15px 10px;
  }
  
  .errorMessage {
    color: #f45532;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  
  .submitBtn {
    
    border-radius: 10px;
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .submit-message {
      width: 125px;
      margin-left: 200px;
    }
  }